<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!--/*/ <th:block th:include="fragments/headlink :: head"></th:block> /*/-->
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">HTML TO AMP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>TRY! HTML TO AMP</h2>
                    <p class="text-muted">Convert your html page to AMP(Accelated Mobile Page)</p>
                    <hr>
                    </hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <legend>HTML</legend>
                        <!--HTML File 입력-->
                        <div class="form-group">
                            <label id="fileInput" class="col-lg-2 control-label">File</label>
                            <div class="col-lg-10">
                                <input type="file" class="form-control"/>
                            </div>
                        </div>
                        <!--HTML URL 입력-->
                        <div class="form-group">
                            <label id="URLInput" class="col-lg-2 control-label">URL</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Input your URL"/>
                            </div>
                        </div>
                        <!--HTML Text 입력-->
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <legend>Result</legend>
                        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea2"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>

<!--Script -->
<th:block th:include="fragments/script :: script"></th:block>

</body>

</html>
